# Diretórios e arquivos do IntelliJ
.idea/
*.iml

# Diretórios de build
/target/
/build/

# Arquivos de log
*.log

# Arquivos temporários e de sistema
.DS_Store
Thumbs.db

# Arquivos de backup e swap
*.bak
*.swp

# Maven
.mvn/
.settings/
.classpath
.project

# Arquivos de ambiente
.env

# Arquivos gerados pelo sistema
*.tmp

# Arquivos de configuração específicos
HELP.md
